pipeline/user_created_set_variable.json
{
	"name": "user_created_set_variable",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": {
						"value": "@variables('set_variable')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait2",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": {
						"value": "@variables('set_variable')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set_variable",
					"value": 3
				}
			}
		],
		"variables": {
			"set_variable": {
				"type": "Integer",
				"defaultValue": 2
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-04T13:06:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}